@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4f0fc;
  --backgroundNav: #ee4001;
  --backgroundDark: #171717;
  --backgroundNavDark: #a32f05;
  --card: #ffffff;
  --cardDark: #171717;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ee4001;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #be3504;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 153, 255, 0.445);
}